<html>
    <head>
        <title>Blogs</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    </head>
    <body>
        <div class="ui fixed inverted  menu" style="">
			<div class="ui container">
			    <a class="header item" href="/">
					<i class="icon home" ></i>
					Home
			 	</a>
			    <a class="item" href="/new">
					<i class="icon plus square outline" style=" font-size:2em "></i>
					Create
			    </a>
			    <div class="right menu">
					<div class="item">
						 <div class="ui icon input">
							<input type="text" placeholder="this does not work">
							<i class="search link icon"></i>
						 </div>
					</div>
			    </div>
			</div>
		</div>
		<div class="ui main text container " style="margin-top:80px">